In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression as LR

In [3]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sample = pd.read_csv("sample.csv",header=None)

In [4]:
train

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1
...,...,...,...,...,...,...,...,...,...,...,...,...
202,2014-9-24,59,水,1,白身魚のマスタード焼き,408.0,NaN,NaN,NaN,曇,0,24.8
203,2014-9-25,50,木,0,牛カルビ焼き肉,394.0,NaN,NaN,NaN,曇,0,25.4
204,2014-9-26,45,金,0,ランチビュッフェ,NaN,スペシャルメニュー（800円）,キャリアアップ支援セミナー,NaN,晴れ,--,27.1
205,2014-9-29,56,月,1,豚肉と玉子の炒め,404.0,NaN,NaN,NaN,快晴,--,26.6
206,2014-9-30,40,火,0,鶏肉とカシューナッツ炒め,398.0,NaN,NaN,NaN,快晴,--,28.1

In [5]:
train.shape

(207, 12)

In [6]:
train.describe()

                y     soldout        kcal  payday  temperature
count  207.000000  207.000000  166.000000    10.0   207.000000
mean    86.623188    0.449275  404.409639     1.0    19.252174
std     32.882448    0.498626   29.884641     0.0     8.611365
min     29.000000    0.000000  315.000000     1.0     1.200000
25%     57.000000    0.000000  386.000000     1.0    11.550000
50%     78.000000    0.000000  408.500000     1.0    19.800000
75%    113.000000    1.000000  426.000000     1.0    26.100000
max    171.000000    1.000000  462.000000     1.0    34.600000

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime       207 non-null    object
 1   y              207 non-null    int64
 2   week           207 non-null    object
 3   soldout        207 non-null    int64
 4   name           207 non-null    object
 5   kcal           166 non-null    float64
 6   remarks        21 non-null     object
 7   event          14 non-null     object
 8   payday         10 non-null     float64
 9   weather        207 non-null    object
 10  precipitation  207 non-null    object
 11  temperature    207 non-null    float64
dtypes: float64(3), int64(2), object(7)
memory usage: 19.5+ KB

In [8]:
train["year"] = train["datetime"].apply(lambda x: x.split("-")[0])
train["month"] = train["datetime"].apply(lambda x: x.split("-")[1])
train["day"] = train["datetime"].apply(lambda x: x.split("-")[2])

In [9]:
test["year"] = test["datetime"].apply(lambda x: x.split("-")[0])
test["month"] = test["datetime"].apply(lambda x: x.split("-")[1])
test["day"] = test["datetime"].apply(lambda x: x.split("-")[2])

In [10]:
pd.get_dummies(train["week"])

     月  木  水  火  金
0    1  0  0  0  0
1    0  0  0  1  0
2    0  0  1  0  0
3    0  1  0  0  0
4    0  0  0  0  1
..  .. .. .. .. ..
202  0  0  1  0  0
203  0  1  0  0  0
204  0  0  0  0  1
205  1  0  0  0  0
206  0  0  0  1  0

[207 rows x 5 columns]

In [11]:
train.drop("月",axis=1)

KeyError: "['月'] not found in axis"

In [ ]:
train.isnull()

In [ ]:
train.isnull().sum()

In [ ]:
train["kcal"] = train["kcal"].fillna(train["kcal"].mean())

In [ ]:
test["kcal"] = test["kcal"].fillna(test["kcal"].mean())

In [ ]:
train["remarks"].value_counts()

In [ ]:
train["event"].value_counts()

In [ ]:
train["payday"].value_counts()

In [ ]:
train["precipitation"].value_counts()

In [ ]:
def jisaku1(x):
    if x == "お楽しみメニュー":
        return 6
    elif x =="料理長のこだわりメニュー":
        return 5
    elif x =="酢豚（28食）、カレー（85食）":
        return 4
    elif x =="鶏のレモンペッパー焼（50食）、カレー（42食） ":
        return 3
    elif x =="手作りの味":
        return 2
    elif x =="スペシャルメニュー（800円）":
        return 1
    else:
        return 0

In [ ]:
train["remarks1"] = train["remarks"].apply(lambda x: jisaku1(x))
test["remarks1"] = test["remarks"].apply(lambda x: jisaku1(x))

In [ ]:
def jisaku2(x):
    if x == "ママの会":
        return 2
    elif x == "キャリアアップ支援セミナー":
        return 1
    else:
        return 0

In [ ]:
train["event1"] = train["event"].apply(lambda x: jisaku2(x))
test["event1"] = test["event"].apply(lambda x: jisaku2(x))

In [ ]:
train.info()

In [ ]:
train["year"] = train["year"].astype(np.int)
train["month"] = train["month"].astype(np.int)
train["day"] = train["day"].astype(np.int)
test["year"] = test["year"].astype(np.int)
test["month"] = test["month"].astype(np.int)
test["day"] = test["day"].astype(np.int)

In [ ]:
train.info()

In [ ]:
train[["y","kcal","temperature","year","month","day","remarks1","event1"]].corr()

In [ ]:
trainC = pd.get_dummies(train[["y","week","kcal","weather","temperature","year","month","day","remarks1","event1"]])

In [ ]:
testC = pd.get_dummies(test[["week","kcal","weather","temperature","year","month","day","remarks1","event1"]])

In [ ]:
trainC.head()

In [ ]:
trainC["kcal"] = trainC["kcal"].fillna(trainC["kcal"].mean())

In [ ]:
trainC.head()

In [ ]:
trainC.corr()

In [ ]:
trainX = pd.get_dummies(train[["kcal","year","temperature","week","weather"]])
y = train["y"]

In [ ]:
model1 = LR()

In [ ]:
model1.fit(trainX,y)

In [ ]:
model1.coef_

In [ ]:
model1.intercept_

In [ ]:
testX = pd.get_dummies(test[["kcal","year","temperature","week","weather"]])

In [ ]:
testX.head()

In [ ]:
pred = model1.predict(testX)

In [ ]:
testX

In [ ]:
trainX

In [ ]:
sample

In [ ]:
sample[1] = pred

In [ ]:
train["pred"] = model1.predict(trainX)

In [ ]:
train["res"] = train["y"] - train["pred"]

In [ ]:
train.sort_values(by="res",ascending=False)

In [ ]:
sample.to_csv("submit6.csv", index=None, header=None)

# Optimize1

In [ ]:
trainC.corr()

In [ ]:
trainX2 = trainC[["kcal","temperature","month","remarks1","week_月","weather_快晴"]]
y = trainC["y"]

In [ ]:
testX2 = testC[["kcal","temperature","month","remarks1","week_月","weather_快晴"]]

In [ ]:
model2 = LR()

In [ ]:
model2.fit(trainX2,y)

In [ ]:
model2.coef_

In [ ]:
model2.intercept_

In [ ]:
testX2.head()

In [ ]:
pred2 = model2.predict(testX2)

In [ ]:
sample[1] = pred2

In [ ]:
sample.to_csv("submit8.csv", index=None, header=None)

# Graph

In [ ]:
train["y"].plot(figsize=(12,4),grid=True, )

In [ ]:
train["y"].plot(figsize=(12,4),grid=True, marker="o", color = "red", linestyle = "--")

In [ ]:
train["y"].plot.hist(grid=True)
plt.axvline(x=train["y"].mean(), color="red")

In [ ]:
train[["y","week"]].boxplot(by="week")

In [ ]:
ax = train["y"].plot(figsize=(12,4),title="グラフ")
ax.set_xlabel("time")
ax.set_ylabel("y")

In [ ]:
train[["y","temperature"]].plot.scatter(x="temperature", y="y",figsize=(5,5))